/* MovieModal.css file for MovieModal.js */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 600px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    border: 1px solid #ccc; 
    position: relative; /* For positioning close button */
}

.close-button {
    background: none;
    border: none;
    font-size: 20px; 
    color: black; 
    cursor: pointer;
    position: absolute; /* Position close button in the top right */
    top: 10px; 
    right: 15px; 
}

.modal-body {
    display: flex;
    margin-top: 10px;
}

.modal-left {
    flex: 1;
    margin-right: 20px; 
}

.modal-left img {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
}

.modal-right {
    flex: 2;
}

.modal-right p {
    margin: 5px 0; 
}


